<div class="usc_app_page_wrap" style="min-height:500px">
<h1>Editar Operador</h1>

<form role="form" method="post" enctype="multipart/form-data">

    <div class="col-lg-6">
        <div class="box-body">

            <div class="form-group">
                <label>Nombre público</label><span id="username_ajax_return"></span>
                <input type="text" class="form-control" id="username" name="username" value="{$smarty.post.username}"
                       placeholder="Ingresa el nombre a mostrar en el widget" required onblur="checkUsername()">
            </div>

            <div class="form-group">
                <label>Nombre</label>

                <input type="text" class="form-control" name="firstname" value="{$smarty.post.firstname}"
                       placeholder="Ingresa el nombre">
            </div>

            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" name="lastname" value="{$smarty.post.lastname}"
                       placeholder="Ingresa el apellido">
            </div>

            <div class="form-group">
                <label>Correo electrónico</label><span id="email_ajax_return"></span>
                <input type="email" class="form-control" id="email" value="{$smarty.post.email}" name="email"
                       placeholder="Correo electrónico" required onblur="checkEmail()">
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password" value=""
                       placeholder="Contraseña">
            </div>

			{if $smarty.session.user.permissions == 1}
			
            	<div class="checkbox">
                	<label>
                    	<input type="checkbox" name="role" value="admin" {if $smarty.post.permissions == 1}checked{/if}> Administrador
                    	<p class="help-block">Si está activo (seleccionado), puede administrar operadores, departamentos, Configuraciones y ajustes del widget.</p>
                	</label>
            	</div>
			
			{/if}


        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" name="submit" value="true" class="btn btn-primary">Guardar</button>
        </div>
    </div>



<div class="col-lg-6">

    <div class="form-group">
        <label>Avatar del operador</label><br/>

        {if $smarty.post.avatar == ''}
             <span id="operator_avatar"><img id="op_avatar" src="{$data_server}config/themes/img/avatars/default.png"></span>
        {else}
             <span id="operator_avatar"><img id="op_avatar" src="{$data_server}{$smarty.post.avatar}"></span>
        {/if}

    </div>


    <div class="form-group">
        <label>Subir avatar</label>

            <input type="file" name="file" id="file" onchange="uploadFile();"/>
            <input type="hidden" name="user_id" id="user_id" value="{$smarty.get.user_id}"/>
            <input type="hidden" name="avatar" id="selected_avatar" value="{$smarty.post.avatar}">

            <p class="help-block">JPG o PNG (Max: 90px por 90px)</p>

            <button type="button" value="Upload File" class="btn btn-primary" onclick="remove_avatar()">Eliminar</button>
            <br/><br/>

            <p id="error_handling"></p>

            <progress id="progressBar" value="0" max="100"></progress>
            <p id="loaded_n_total"></p>

            <p id="status"></p>
    </div>

</div>

</form>
</div>

{if $smarty.session.user.user_id == $smarty.get.user_id}
	{literal}<script>var editingLoggedOperator = true; </script>{/literal}
{else}
	{literal}<script>var editingLoggedOperator = false; </script>{/literal}
{/if}

<script src="{$data_server}js/users_edit.min.js" type="text/javascript"></script>