<link rel="stylesheet" href="{$data_server}css/login.min.css" type="text/css" media="screen">

<div class="wrapper">
    <div class="box_err" id="error_msg">&nbsp;</div>

    <form id="login_form" class="login" method="post">
        <p class="title">Reestablecer contraseña</p>

        <input type="email" id="email" name="email" placeholder="Enter your email" autofocus />
        <i class="fa fa-envelope"></i>
        <a href="/{$languageURL}users/login">¡Ya me acordé! quiero acceder</a>
         <button class="pointer">
            <i class="spinner"></i>
            <span class="state pointer">Enviar</span>
        </button>
		<input type="hidden" name="reset"/>
    </form>
    <footer>Hermes (Build {$USC_build})</footer>

</div>
